<router-outlet></router-outlet>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email" />
    </label>
    <div
      *ngIf="
        myForm.get('email')?.invalid &&
        (myForm.get('email')?.dirty || myForm.get('email')?.touched)
      "
    >
      Please provide a valid email address.
    </div>
  </div>
  <div>
    <label>
      Message:
      <input formControlName="message" placeholder="Your message" />
    </label>
    <div
      *ngIf="
        myForm.get('message')?.invalid &&
        (myForm.get('message')?.dirty || myForm.get('message')?.touched)
      "
    >
      Please provide a message.
    </div>
  </div>
  <div>
    <label>
      Link:
      <input formControlName="link" placeholder="Your message" />
    </label>
    <div
      *ngIf="
        myForm.get('link')?.invalid &&
        (myForm.get('link')?.dirty || myForm.get('link')?.touched)
      "
    >
      Please provide a link.
    </div>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Send</button>
</form>

<iframe
  [src]="link | safe : 'link'"
  width="600"
  height="450"
  frameborder="0"
  style="border: 0"
  allowfullscreen
>
</iframe>

<div class="tree">
  <app-tree [node]="node"></app-tree>
</div>
